<%- include('../partials/header') %>
<%- include('../partials/subHObjHome') %>
<%- include('../partials/title') %>
<main>
    <section id="sectionForm">
        <div id="formCont" class="flexctr">
            <form id="newBoardForm" action="/boards/<%= board.id %>?_method=UPDATE" method="POST">
              <label class="pl">Board name:<br>
                <input class='textinput' type="text" name="boardName" placeholder="<%= board.boardName %>">
              </label><br>
              <label class="pl">Description:<br>
                <textarea class='textinput' type="text" name="boardDesc" placeholder="<%= board.boardDesc %>"></textarea>
              </label><br>
              <label class="pl">Owner:<br>
                <p class="pl">	&#x2139; This field cannot be edited</p>
                <input class='textinput' type="text" name="boardOwner" placeholder="<%= board.boardOwnerName %>" readonly>
              </label><br><br>
              <button class="flexctr" type="submit">UPDATE DETAILS</button>
            </form>
        </div>
    </section>
</main>

<%- include('../partials/footer') %>