<%- include('../partials/header') %>
<%- include('../partials/subHObjHome') %>
<%- include('../partials/boardHeader') %>
<main>
    <section class="createObjModal modal hidden">
        <div class="closeBtns">
            <button id="closeCreateBtn">⨉</button>
        </div>
        <form action="<%= board.id %>/objectives" method="POST">
            <div class="modalCont">
                <div>
                    <h3 class="h3Dark">Create Objective</h3>
                </div>
                <div>
                    <p class="pDark">Create your objective, you can add key results later.</p>
                </div>
                <div>
                    <label class="pDark">Objective title:
                        <textarea class="objTitleInput" type="text" name="objTitle"></textarea>
                    </label>
                </div>
                <div>
                    <label class="pDark">Objective description:
                        <textarea class="objTitleInput" type="text" name="objDesc"></textarea>
                    </label>
                </div>
                <div>
                    <label class="pDark">Objective due date: <br>
                        <input type="date" name="objOrigDue"></textarea>
                    </label>
                </div>
                <div class="closeBtns">
                    <button class="btn submit" type="submit">SUBMIT</button>
                </div>
            </div>
            <input type="hidden" name="objBoardID" value="<%= board._id %>" />
      </form>
    </section>

    <section class="editObjModal modal hidden">
        <button id="closeEditBtn">⨉</button>
        <form id="editObjForm" method="POST">
            <div>
                <h3 class="h3Dark">Edit Objective</h3>
            </div>
            <div>
                <label class="pDark">New title:
                    <textarea class="objTitleInput" type="text" name="objTitle"></textarea>
                </label>
            </div>
            <div>
                <label class="pDark">New description:
                    <textarea class="objTitleInput" type="text" name="objDesc"></textarea>
                </label>
            </div>
            <div>
                <label class="pDark">New due date: <br>
                    <input type="date" name="objCalcDue"></textarea>
                </label>
            </div>
            <input type="hidden" name="objBoardID" value="<%= board._id %>" />
            <button class="btn submit">UPDATE OBJECTIVE</button>
        </form>
    </section>

    <section class="delBModal modal hidden">
        <div id="delBModalCont">
            <div>
                <h3 class="h3Dark">Are you sure?</h3>
            </div>
            <div>
                <p>There may be dire dire consequences if you delete this board.</p>
            </div>
            <div id="canDelBtns">
                <div>
                    <button id="delBCancelBtn" class="btn submit">CANCEL</button>
                </div>
                <div>
                    <form id="delBModalForm" action="/boards/<%= board._id %>?_method=DELETE" method="POST">
                        <button class="btn submit">DELETE BOARD</button>
                        <input type="hidden" name="objBoardID" value="<%= board._id %>" />
                    </form>
                </div>
                </div>
            </div>
    </section>

    <div class="overlay hidden"></div>

    <section id="okrsSection">
        <% if (objectives.length > 0) { %>
            <% objectives.forEach(function(objective) { %>
                <div class="objTile">
                    <div class="objSubTile">
                        <div class="objTileTitle">
                            <h3><%= objective.objTitle %></h3>
                            <button id="editOKRBtn" class="btnemoji" objId="<%= objective._id %>">
                                &#128221;
                            </button>
                        </div>
                            <p><span>Description: <br></span> <%= objective.objDesc %></p>
                            <p><span>Original due date: <br></span> <%= objective.objOrigDue.toLocaleDateString('en-uk') %></p>
                            <% if (objective.objCalcDue) { %>
                                <p><span>Updated due date: <br></span> <%= objective.objCalcDue.toLocaleDateString('en-uk') %></p>
                            <% } else {} %>
                    </div>
                    <% const krArr = objective.objKeyResults %>
                    <div class="objTileTitle">
                        <p>Key results </p>
                        <form action="/objectives/<%= objective._id %>/krs/edit" method="GET">
                            <button>EDIT</button>
                        </form>
                    </div>
                    <% krArr.forEach(function(kr) { %>
                        <div class="krOnObj">
                            <p><%= kr.krTitle %></p>
                        </div>
                    <% }) %>
                </div>
           <% }) %>
        <% } else { %>
            <div id="pencilDiv">
                <img id="pencilImg" src="/images/pencil.png" alt="pencil">
                <h1 id= "ctrHeadline">You'll need to create an objective, or get added to your friend's board to get started!</h1>
            </div>
        <% } %>
    </section>
</main>

<%- include('../partials/footer') %>